@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Details";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.SeriesTitle</h1>
        <h2>@ViewBag.IssueNumber</h2>
        <h5>@Html.Raw(ViewBag.Description)</h5>
        
        @if (ViewBag.Artists.Length > 0)
         {
            <div>
                <h3>Artists</h3>
                <ul>
                    @foreach (var artist in ViewBag.Artists)
                    {
                         <li>@artist</li>
                    }
                </ul>
            </div>
         }
    </div>
</body>
</html>
